.home-page {
  text-align: center;
}

.days button {
  width: 15%;
  display: inline-block;
  padding: 1%;
  margin-left: 40%;
  margin-right: 40%;
  background-color: rgb(86, 211, 253);
  font-size: 20px;
  border-radius: 10px;
  margin-bottom: 2%;
}

.days button:hover {
  background-color: rgb(118, 118, 219);
  color: white;
}

.removebtn, .addbtn {
 display: inline-block;
}

.journal-page {
  margin-left: 40%;
  margin-right: 40%;
  
}

.workouts button {
  background-color: rgb(86, 211, 253);
}
.workouts input {
  margin-bottom: 5%;
  
}

.login-wrapper {
  margin-left: 40%;
  margin-right: 40%;
  background-color: rgb(86, 211, 253);
  border-radius: 8%;
  text-align: center;
}





