.home-page {
  text-align: center;
}

/* CSS */
.days button {
  width: 15%;
  display: inline-block;
  padding: 1%;
  margin-left: 40%;
  margin-right: 40%;
  background-color: rgb(86, 211, 253);
  font-size: 20px;
  border-radius: 10px;
  margin-bottom: 2%;
}

.days button:hover {
  background-color: rgb(118, 118, 219);
  color: white;
}

